#root {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: calc(100vh - 16px);
}

.row {
  flex-basis: 50%;
}

.border-right {
  border-right: 1px solid darkgrey;
}

.textarea {
  border: 0px;
  height: 100%;
  outline: 0px;
  padding: 8px;
  width: calc(100% - 18px);
}

.border-left {
  border-left: 1px solid darkgrey;
}
